@import "../../globalColor";

.achievement__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achievement__item {
  border-top: 1px solid $border;
}

.achievement__item:first-child {
  border-top: none;
}

.dark-mode .achievement__item {
  border-top-color: $borderDark;
}
